.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    background: oklch(var(--a));
}

::selection {
    background: oklch(var(--a));
}