---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I started my journey at a technical High School learning <b
      >Computer Science</b
    >. From there, I've always tried to both work and study to have a better
    prospective on realistic application of the subjects I've studied. I
    finished my Bachelor's and Master's in time while working full time jobs,
    and then decided to leave my last job to focus on my PhD. <br />
    I've worked mostly as a <b>Full-Stack Developer</b> during my Bachelor's years
    and then during my Master's I've moved onto Data Science job focusing on <b
      >Natural Language Processing</b
    >.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Computer Science"
      subtitle="2024 and ongoing at University of Pisa, Pisa, Italy"
    />
    <TimeLineElement
      title="Master's Degree in Data Science and Business Informatics"
      subtitle="2021 to 2024 at University of Pisa, Pisa, Italy"
      grade="110/110 cum laude"
    />
    <TimeLineElement
      title="Bachelor's Degree in Informatica Umanistica (Digital Humanities)"
      subtitle="2018 to 2021 at University of Pisa, Pisa, Italy"
      grade="110/110 cum laude"
    />
    <TimeLineElement
      title="Computer Science Expert High School Diploma"
      subtitle="2011 to 2016 at Istituto Tecnico Industriale Statale Galileo Galilei, Livorno, Italy"
      grade="91/100"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>
  <TimeLineElement
      title="Natural Language Processing Data Scientis"
      subtitle="From 2022 to 2024 at Talia S.R.L., Pisa, Italy"
      tech="Python, Django, Celery, Redis, Postgres, PyTorch, Scikit-Learn, Scipy, Numpy, Pandas, Git"
    >
    I’ve worked on the development of Natural Language Processing tools based on both traditional
    and Deep Neural Network architecture served as API in a Business-to-Business setting. In
    particular, I’ve been directly responsible for:</br>
    - The re-writing and upgrading of a complete NLP pipeline from Python 2 to Python 3 contain-
    ing sentence splitter, tokenizer, PoS-Tagger, and Dependency Parser;</br>
    - The development of efficient NLP tools based on the linguistic pipeline such as Named Entity
    Classifier, Sentiment Classifier, Topic Classifier, and Readability measurer;</br>
    - The integration of the Natural Language toolkit in an API-served service with a focus on
    Business-to-Business applications;</br>
    - The research for a low-cost solution for the deployment of text-to-text Transformers in pro-
    duction.
    </TimeLineElement>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Natural Language Processing Services Developer"
      subtitle='Two months in 2022 at the Computational Linguistics Institute "A. Zampolli", Italian National Research Center (CNR), Pisa, Italy'
      tech="Python, Django, Celery, PHP, Laravel, Tailwind, JavaScript, unittest, PyTorch, Scikit-Learn, Git"
    >
      I've worked at a Project titled "2022/1698, Ottimizzazione di interfacce API a strumenti di analisi linguistica sviluppati
      dall’Italian Natural Language Processing Lab (ItaliaNLP Lab)" where I've worked on:</br>
      - The creation of an end-to-end test suite, to validate the functionalities of a Linguistic Analysis service served through web API;</br>
      - The creation of a demo website showcasing the API functionalities; </br>
      - A comparative study between the in-house Linguistic Analysis API and the state-of-the-art libraries available at that time;
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Web Developer"
      subtitle="From 2021 to 2022 at Intraprendenza S.R.L., Livorno, Italy"
      tech="PHP, Laravel, JavaScript, AJAC, SASS, MongoDB, Redis, Git"
    >
      I’ve worked on the development of back-end solutions for shopping,
      delivery, and browsing web platforms with a heavy focus on SEO
      optimization.
    </TimeLineElement>
    <TimeLineElement
      title="Computational Linguistic Intern"
      subtitle="Six months in 2021 at CoLing Lab dip. Filologia, Letteratura e Linguistica dell'Università di Pisa, Pisa, Italy"
      tech="Python, Pandas, Numpy, Scipy, nltk, Stanza, Git"
    >
      I’ve worked on the development of a parallel corpus for a simplification
      task of the Italian ad- ministrative domain, with the objective of
      training LLMs in the simplification of administrative documents for L2
      learners.
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Web Developer"
      subtitle="From 2019 to 2020 at Delivery Aggregator, Livorno, Italy"
      tech="PHP, JavaScript, jQuery, AJAX, Wordpress, Bootstrap, MySQL, CSS, Git"
    >
      I’ve developed and launched various web applications for the delivery
      services of local restau- rants.
    </TimeLineElement>
    <TimeLineElement
      title="Informative and Control Systems Developer"
      subtitle="From 2017 to 2018 at CTT Nord, Livorno, Italy"
      tech="Java, PHP, JavaScript, jQuery, AJAX, MySQL"
    >
      I’ve developed various Java applications for both desktop and mobile
      systems, used as control tools to analyze GPS data from the company’s bus
      fleet. These were used to perform various checks on the status of the
      public transport service offered by the company.
    </TimeLineElement>
  </div>

  <!---
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
  -->
</BaseLayout>
