---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      I started my journey at a technical High School learning <b
        >Computer Science</b
      >. From there, I've always tried to both work and study to have a better
      prospective on realistic application of the subjects I've studied. I
      finished my Bachelor's and Master's in time while working full time jobs,
      and then decided to leave my last job to focus on my PhD. <br />
      I've worked mostly as a <b>Full-Stack Developer</b> during my Bachelor's years
      and then during my Master's I've moved onto Data Science job focusing on <b
        >Natural Language Processing</b
      >. <br />
      You can find my complete publication list <b
        ><a class="underline" href="/publications">here</a></b
      >.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Computer Science"
      subtitle="2024 and ongoing at University of Pisa, Pisa, Italy"
    />
    <TimeLineElement
      title="Master's Degree in Data Science and Business Informatics"
      subtitle="2021 to 2024 at University of Pisa, Pisa, Italy"
      grade="110/110 cum laude"
    />
    <TimeLineElement
      title="Bachelor's Degree in Informatica Umanistica (Digital Humanities)"
      subtitle="2018 to 2021 at University of Pisa, Pisa, Italy"
      grade="110/110 cum laude"
    />
    <TimeLineElement
      title="Computer Science Expert High School Diploma"
      subtitle="2011 to 2016 at Istituto Tecnico Industriale Statale Galileo Galilei, Livorno, Italy"
      grade="91/100"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="LLMs Anatomy Course, Computer Engineering Department, University of Pisa"
      subtitle="Second Semester of 2024/2025 S.Y., University of Pisa, Pisa, Italy",
      badge="Course Syllabus, Slide and Materials"
      badge_link="https://github.com/michelepapucci/llms-anatomy-course"
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>
  <TimeLineElement
    title="Natural Language Processing Data Scientist"
    subtitle="From 2022 to 2024 at Talia S.R.L., Pisa, Italy"
    tech="Python, Django, Celery, Redis, Postgres, PyTorch, Scikit-Learn, Scipy, Numpy, Pandas, Git"
  >
    I’ve worked on the development of Natural Language Processing tools based on
    both traditional and Deep Neural Network architecture served as API in a
    Business-to-Business setting. In particular, I’ve been directly responsible
    for the re-writing and upgrading of a NLP Pipeline from Python 2 to Python 3
    (sentence splitter, tokenizer, PoS-Tagger, Dependecy Parser). I've developed
    efficient NLP tools based on the linguistic pipeline and contextual and
    non-contextual word-embeddings (NER, Sentiment and Topic Classifier,
    Readability Measurer).
  </TimeLineElement>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Natural Language Processing Services Developer"
      subtitle='Two months in 2022 at the Computational Linguistics Institute "A. Zampolli", Italian National Research Council (CNR), Pisa, Italy'
      tech="Python, Django, Celery, PHP, Laravel, Tailwind, JavaScript, unittest, PyTorch, Scikit-Learn, Git"
    >
      I've worked at a Project titled "2022/1698, Ottimizzazione di interfacce
      API a strumenti di analisi linguistica sviluppati dall’Italian Natural
      Language Processing Lab (ItaliaNLP Lab)" where I've worked on the creation
      of an end-to-end test suite, to validate the functionalities of a
      Linguistic Analysis service served through web API. Then, I developed a
      demo website showcasing the API functionalities and did a comparative
      study between the in-house Linguistic Analysis API and the
      state-of-the-art libraries available at that time.
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Web Developer"
      subtitle="From 2021 to 2022 at Intraprendenza S.R.L., Livorno, Italy"
      tech="PHP, Laravel, JavaScript, AJAC, SASS, MongoDB, Redis, Git"
    >
      I’ve worked on the development of back-end solutions for shopping,
      delivery, and browsing web platforms with a heavy focus on SEO
      optimization.
    </TimeLineElement>
    <TimeLineElement
      title="Computational Linguistic Intern"
      subtitle="Six months in 2021 at CoLing Lab dip. Filologia, Letteratura e Linguistica dell'Università di Pisa, Pisa, Italy"
      tech="Python, Pandas, Numpy, Scipy, nltk, Stanza, Git"
    >
      I’ve worked on the development of a parallel corpus for a simplification
      task of the Italian administrative domain, with the objective of training
      LLMs in the simplification of administrative documents for L2 learners.
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Web Developer"
      subtitle="From 2019 to 2020 at Delivery Aggregator, Livorno, Italy"
      tech="PHP, JavaScript, jQuery, AJAX, Wordpress, Bootstrap, MySQL, CSS, Git"
    >
      I’ve developed and launched various web applications for the delivery
      services of local restaurants.
    </TimeLineElement>
    <TimeLineElement
      title="Informative and Control Systems Developer"
      subtitle="From 2017 to 2018 at CTT Nord, Livorno, Italy"
      tech="Java, PHP, JavaScript, jQuery, AJAX, MySQL"
    >
      I’ve developed various Java applications for both desktop and mobile
      systems, used as control tools to analyze GPS data from the company’s bus
      fleet. These were used to perform various checks on the status of the
      public transport service offered by the company.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conference Presentations</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="text-accent">
      <span class="text-primary-content">
        <b
          >8th Workshop on Natural Language for Artificial Intelligence (NL4AI
          2024)</b
        >, co-located with the 23rd International Conference of the Italian
        Association for Artifical Intelligence (AI*IA 2024), 2024, Libera
        Università di Bolzano, Bolzano. Oral Presentation
        <a
          class="badge badge-secondary mx-2 ml-0 my-1"
          href="/pdfs/slide_nl4ai_2024.pdf">Check out the Slides</a
        >
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>9th Italian Conference on Computational Linguistics (CLiC-it 2023)</b
        >, 2023, Università Ca' Foscari Venezia, Venezia. Oral Presentation in
        the track "Large Language Models: Applications" <a
          class="badge badge-secondary mx-2 ml-0 my-1"
          href="/pdfs/slide_clicit_2023.pdf">Check out the Slides</a
        >
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b
          >6th Workshop on Natural Language for Artificial Intelligence (NL4AI
          2022)</b
        >, co-located with the 21st International Conference of the Italian
        Association for Artifical Intelligence (AI*IA 2022), 2022, Unversità
        degli Studi di Udine, Udine. Oral Presentation <a
          class="badge badge-secondary mx-2 ml-0 my-1"
          href="/pdfs/slide_nl4ai_2022.pdf">Check out the Slides</a
        >
      </span>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Partecipations in Research Schools and Workshops
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Lectures on Computational Linguistics 2025</b>, June 18-20 2025,
        Catholic University of the Sacred Heart, Milan;
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Learning over Time (LoT),</b> Doctoral Spring School, March 24-27 2025,
        Certosa di Pontignano, Siena;
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Lectures on Computational Linguistics 2023</b>, May 29-31 2023,
        University of Pisa, Pisa;
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Lectures on Computational Linguistics 2022</b>, June 8-10 2022,
        Università degli Studi di Napoli "L'Orientale", Napoli;
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>PyCon Italia 2022</b>, June 2-5 2022, Grand Hotel Mediterraneo,
        Florence;
      </span>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Talks</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Toronto is the capital of Canada: Detecting and Preventing LLMs from Hallucinating</b>,
        <a href="https://pesaresiseminars.di.unipi.it/">Mauriana Pesaresi Seminar Series</a> at Computer Science Department, February 07 2025, University of Pisa, Pisa; 
        <a
          class="badge badge-secondary mx-2 ml-0 my-1"
          href="/pdfs/slide_pesaresi.pdf"
        >
          Check out the Slides</a
        >
      </span>
    </li>
    <li class="text-accent">
      <span class="text-primary-content">
        <b>Una breve storia dei Large Language Model e del Language Modeling</b>
        (en: A brief history of Large Language Models and Language Modeling), TechBar
        at <a href="https://www.gruppometa.it/it/home">GruppoMeta</a>, July 04
        2024, Via Ponte a Piglieri 8, Pisa; <a
          class="badge badge-secondary mx-2 ml-0 my-1"
          href="/pdfs/slide_techbar.pdf"
        >
          Check out the Slides</a
        >
      </span>
    </li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications and Awards</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="text-accent">
      <a
        href="/pdfs/ERP_english_certificate.pdf"
        target="_blank"
        class="text-primary-content"
      >
        <b class="underline">C1 - English for Research Publication and Presentation Purposes</b>.
        Certificate of Attendance and Achievement, fulfilling the English C1 (CEFR) Level for Writing and Speaking Skills,
        Linguistic Centre, University of Pisa, Pisa, Italy;
        </a
      >
    </li>
    <li class="text-accent">
      <a
        href="https://zerorobotics.mit.edu/tournaments/16/info/90/0/"
        target="_blank"
        class="text-primary-content"
      >
        <b class="underline">Zero Robotics 2014</b>: Member of the ISS Finalist
        Team "Sunspots Narwhals Eagles", European Space Research and Technology
        Centre (ESTEC), Noordwijk, Netherlands;</a
      >
    </li>
  </ul>
  
  <div class="divider my-0"></div>
</BaseLayout>



<!-- class="list-disc md:columns-5 columns-2 mx-6" -->
