---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostcardGallery from '../components/PostcardsGallery.jsx';

---

<BaseLayout title="Postcards">
    <div>
        <h1 class="text-3xl w-full font-bold mb-5">PhD Postcards Project</h1>
        PhD Postcards is a collection of digitalized postcards I sent to my family or to myself during my PhD trips. I started this project during July 2025, 
        so I missed the first the occasion of sending postcards during my first two trips (Siena and Milano). <br/>
        For each postcard I try to provide english translation of the message I wrote and to significant text in the postcard itself. I also blur the address of the recipient for privacy reasons. <br/>
        There isn't a specific reason for this project, I just wanted a simple way to keep track of my trips. Postcards have a vintage charm that I like, and I find it really cool to have them actually shipped trough mail with a stamp and official franking.
    </div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Postcards</div>
    <PostcardGallery client:load/>
</BaseLayout>
